.layout-header {
  display: flex;
  justify-content: space-between;
  color: white;
}
.logo {
  color: white;
}
.logout-btn {
  align-self: center;
}
.layout-wrapper {
  min-height: calc(100vh - 64px);
}